<!-- đường dẫn -->
<div class="container mt-2">
    <p class="fs-6 text-start ">
        <i class="bi bi-house"></i>
        <a href="/ASM1/home.html" class="link-offset-2 link-underline link-underline-opacity-0">
            <span> Trang chủ </span>
        </a>/
        <span>Liên hệ</span>
    </p>
</div>
<!-- /đường dẫn -->

<!-- lien hệ -->
<div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Liên hệ với chúng tôi</h2>
    <p class="text-center w-responsive mx-auto mb-5">Bạn có câu hỏi nào không? Xin đừng ngần ngại
        liên hệ trực tiếp với chúng tôi Nhóm của chúng tôi sẽ quay lại với bạn trong vòng
        vài giờ để giúp bạn.</p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Tên của bạn</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Email của bạn</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Số điện thoại</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">câu hỏi của bạn</label>
                            <textarea type="text" id="message" name="message" rows="2"
                                class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="bi bi-geo-alt"></i>
                    <p>123 Đường ABC,công viên phần mềm quang trung quận 12 TP.HCM</p>
                </li>

                <li><i class="bi bi-telephone"></i>
                    <p>0123456789</p>
                </li>

                <li><i class="bi bi-envelope-at"></i>
                    <p>tourkhoihanh{{"@"}}gmail.com</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- /liên hệ -->