<!-- banner và liên hệ -->
<div class="container">
  <div class="row mb-0">
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-sm-6 mt-1">
          <a [routerLink]="['/trangchu']"><img src="../assets/upload/banner2.png" alt="" class="img-fluid"></a>
        </div>
        <div class="col-12 col-sm-6 mt-1">
          <img src="../assets/upload/banner4.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12 col-sm-6 mt-3">
          <h4 class="text-info">liên hệ</h4>
          <a href="" class="link-offset-2 link-underline link-underline-opacity-0">
            <h5 class="text-danger"><i class="bi bi-telephone-outbound"></i> 036-999-999-99</h5>
          </a>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <h4 class="text-info">mạng xã hội</h4>
          <a href="" class="link-offset-2 link-underline link-underline-opacity-0">
            <h5>
              <div class="row">
                <div class="col-3"><i class="bi bi-facebook"></i></div>
                <div class="col-3"><i class="bi bi-instagram"></i></div>
                <div class="col-3"><i class="bi bi-discord"></i></div>
                <div class="col-3"><i class="bi bi-twitter"></i></div>
              </div>
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /banner và liên hệ -->

<!-- NAV -->
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/trangchu']">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/lienhe']">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/vechungtoi']">Về Chúng Tôi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['/danhmuctrongnuoc']" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tour Trong Nước
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Đảo Phú Quốc</a></li>
            <li><a class="dropdown-item" href="#">Cần Thơ</a></li>
            <li><a class="dropdown-item" href="#">Đà Lạt</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['/danhmucnuocngoai']" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tour Nước Ngoài
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ASM1/danhmuc.html">Nhật Bản</a></li>
            <li><a class="dropdown-item" href="#">Hồng Công</a></li>
            <li><a class="dropdown-item" href="#">Thái Lan</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <div class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="tìm kiếm tour" aria-label="Search" #inputsearch>
          <button class="btn btn-outline-success" type="submit" (click)="onSearch(inputsearch.value)">tìm</button>
        </div>
        <li class="nav-item dropdown">
          <a [hidden]="UserService.isLogin()" class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Tài Khoản
          </a>
          <a [hidden]="!UserService.isLogin()" class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Xinh chào
          </a>
          <ul class="dropdown-menu end-0">
            <li><a [hidden]="!UserService.isLogin()" class="dropdown-item" [routerLink]="['/hosotaikhoan']">Hồ sơ tài
                khoản</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a [hidden]="UserService.isLogin()" class="dropdown-item" [routerLink]="['/dangnhap']">Đăng Nhập</a>
            </li>
            <li><a [hidden]="UserService.isLogin()" class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div id="cart"
            class="position-relative d-flex justify-content-center align-items-center rounded-circle bg-black bg-opacity-10 px-2 py-1 ">
            <a [routerLink]="['/giohang']">
              <i class="bi bi-cart fs-5  fw-bolder  text-dark"></i>
            </a>
            <div class="">
              <span id="amount-cart"
                class="text-white  position-absolute top-0 start-75 translate-middle bg-success px-2 rounded-circle">
                {{productService.getCartLength()}}
              </span>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- /NAV -->
<router-outlet />
<!--footer-->
<footer class="container-fluid bg-dark text-white py-5 mt-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>THÔNG TINH LIÊN HỆ</h3>
        <p>Địa chỉ: 123 Đường ABC,công viên phần mềm quang trung quận 12 TP.HCM</p>
        <p><i class="bi bi-telephone-outbound"></i> 0123456789</p>
        <p><i class="bi bi-envelope-at-fill"></i> tourkhoihanh{{"@"}}gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h3>Dịch vụ</h3>
        <a href="" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Tour du lịch</p>
        </a>
        <a href="" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Cẩm nang du lịch</p>
        </a>
        <a href="" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Tin tức về du lịch</p>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>TOUR DU LỊCH HOT</h3>
        <a href="" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Tour Du Lịch Miền Tây Trọn Gói 2 Ngày 1 Đêm</p>
        </a>
        <a href="" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Tour Du lịch phú Quốc Ở Resort 3 Sao</p>
        </a>
        <a href="" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <p>Tour Du lịch Đài Loan mùa Hoa Anh Đào</p>
        </a>
      </div>
      <p class="text-center">bản quyền © 2023 Tour khởi hành Ghi rõ nguồn "tourkhoihanh.com.vn" khi sử dụng
        thông tin từ website này.</p>
    </div>
  </div>
</footer>
<!--/footer-->