<!-- đường dẫn -->
<div class="container mt-2">
    <p class="fs-6 text-start ">
        <i class="bi bi-house"></i>
        <a href="/ASM1/home.html" class="link-offset-2 link-underline link-underline-opacity-0">
            <span> Trang chủ </span>
        </a>/
        <span>về chúng tôi</span>
    </p>
</div>
<!-- /đường dẫn -->

<!-- về chúng tôi -->
<div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
            <img class="img-fluid rounded" src="../assets/upload/hanxen.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
                <div class="col-12 col-xl-11">
                    <h2 class="h1 mb-3">về chúng tôi</h2>
                    <p class="lead fs-4 text-secondary mb-3">Chúng tôi là công ty du lịch Tour khởi hành chyên cung
                        cấp các dịch vụ liên quan đến du lịch</p>
                    <p class="mb-5">công ty Tour khởi hành chung tôi tự tin có thể đáp ứng nhu cầu của du khách khi
                        tham quan, du lịch trong và ngoài nước không những thế cúng tôi còn cung cấp các giải pháp
                        du lịch nhằm mang đến cho khách hàng chuyến du lịch ưng ý. Tất cả đều đươc điều chỉnh 1 cách
                        chuyên nghiệp và phù hợp nhu cầu nhằm mang đến sự thoải mái cho khách hàng</p>
                    <div class="row gy-4 gy-md-0 gx-xxl-5X">
                        <div class="col-12 col-md-6">
                            <div class="d-flex">
                                <div class="me-4 text-primary">

                                </div>
                                <div>
                                    <h4 class="mb-3">tiêu chí hoạt động</h4>
                                    <p class="text-secondary mb-0">- chất lượng là quan tâm hàng đầu</p>
                                    <p class="text-secondary mb-0">- Giá tour cạnh tranh nhấn</p>
                                    <p class="text-secondary mb-0">- Khởi hành hàng này</p>
                                    <p class="text-secondary mb-0">- Thanh toán linh hoạt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex">
                                <div class="me-4 text-primary">

                                </div>
                                <div>
                                    <h4 class="mb-3">thành quả đạt được</h4>
                                    <p class="text-secondary mb-0">Xuyên xuốt quá trình hoạt động của công ty Tour
                                        khởi hành chung tôi may mắn nhận được sự tin tưởng và ủng hộ của 10 nghìn
                                        khách hàng. đây là nguồn động viên to lớn để cúng tôi tiếp tục phát triển.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /về chúng tôi -->